.addIcon {
  @apply rounded;
  padding: 4px;
  cursor: pointer;
  width: 28px;
	height: 28px;
	color: gray;
}

.addIcon:hover {
	color: var(--icon-color);
  @apply bg-white;
  --tw-bg-opacity: 0.6;
}
