.icon {
  width: 32px;
  display: flex;
  justify-content: center;
}

.buttonIcon {
  width: 32px;
  display: flex;
  justify-content: center;
}

.button {
	cursor: pointer;
}

.dotsIcon {
	color: gray;
}

.dotsIcon:hover {
	color: var(--icon-color);
}

.button:hover {
  @apply bg-gray-100;
}

.trigger:hover {
  @apply bg-gray-100;
}

.itemInteractive:hover {
  @apply bg-gray-100;
}
