.icon {
	width: 32px;
	min-width: 32px;
  display: flex;
  justify-content: center;
}

.buttonIcon {
  width: 32px;
  display: flex;
  justify-content: center;
}

.titleText {
  overflow: hidden;
  white-space: nowrap;
}

.button {
  cursor: pointer;
}


.button:hover {
  @apply bg-gray-100;
}

.trigger:hover {
  @apply bg-gray-100;
}

.itemInteractive:hover {
  @apply bg-gray-100;
}
