.calendar {
  --column-width: 40px;
  --column-height: 40px;
  background-color: var(--bg-content-contrast);
  @apply p-4;
  @apply rounded;
}

.day {
  cursor: pointer;
}

.week {
  @apply flex;
	@apply gap-2;
	@apply justify-center;
}

.weekdays {
  @apply flex;
  @apply gap-2;
}

.weekColumn {
  @apply p-1;
  @apply rounded-full;
  width: var(--column-width);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.dayInner {
  @apply p-1;
  @apply rounded-full;
	width: var(--column-width);
	height: var(--column-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dayInnerInactive {
	@apply text-gray-400;
	@apply cursor-not-allowed;
}

.dayInnerFocused {
	background-color: black;
	color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.205);
  font-weight: 700;
}

.dayInnerActive {
	@apply bg-gray-200;
}

 
.monthName {
  width: 160px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  @apply rounded-full;
  @apply py-1;
  @apply px-3;
  @apply bg-gray-300;
}
