.btn-default {
  border-block: unset;
  border-inline: unset;
  border-start-start-radius: unset;
  border-start-end-radius: unset;
  border-end-start-radius: unset;
  border-end-end-radius: unset;
  overflow-inline: unset;
  overflow-block: unset;
  overscroll-behavior-inline: unset;
  overscroll-behavior-block: unset;
  margin-block: unset;
  margin-inline: unset;
  scroll-margin-block: unset;
  scroll-margin-inline: unset;
  padding-block: unset;
  padding-inline: unset;
  scroll-padding-block: unset;
  scroll-padding-inline: unset;
  inset-block: unset;
  inset-inline: unset;
  block-size: unset;
  min-block-size: unset;
  max-block-size: unset;
  inline-size: unset;
  min-inline-size: unset;
  max-inline-size: unset;
  background: unset;
  background-color: unset;
  background-blend-mode: unset;
  border: unset;
  box-decoration-break: unset;
  -moz-float-edge: unset;
  position: unset;
  float: unset;
  clear: unset;
  vertical-align: unset;
  overflow: unset;
  overflow-anchor: unset;
  transition: unset;
  animation: unset;
  transform: unset;
  rotate: unset;
  scale: unset;
  translate: unset;
  offset: unset;
  scroll-behavior: unset;
  scroll-snap-align: unset;
  scroll-snap-type: unset;
  overscroll-behavior: unset;
  isolation: unset;
  break-after: unset;
  break-before: unset;
  break-inside: unset;
  resize: unset;
  perspective: unset;
  perspective-origin: unset;
  backface-visibility: unset;
  transform-box: unset;
  transform-style: unset;
  transform-origin: unset;
  contain: unset;
  appearance: unset;
  -moz-orient: unset;
  shape-image-threshold: unset;
  shape-margin: unset;
  shape-outside: unset;
  touch-action: unset;
  -webkit-line-clamp: unset;
  columns: unset;
  column-fill: unset;
  column-rule: unset;
  column-span: unset;
  content: unset;
  counter-increment: unset;
  counter-reset: unset;
  counter-set: unset;
  opacity: unset;
  box-shadow: unset;
  clip: unset;
  filter: unset;
  mix-blend-mode: unset;
  font-family: unset;
  font-style: unset;
  font-variant: unset;
  font-weight: unset;
  font-size-adjust: unset;
  font-synthesis: unset;
  font-stretch: unset;
  font-kerning: unset;
  font-feature-settings: unset;
  font-variation-settings: unset;
  font-language-override: unset;
  font-optical-sizing: unset;
  visibility: unset;
  writing-mode: unset;
  text-orientation: unset;
  color-adjust: unset;
  image-rendering: unset;
  image-orientation: unset;
  dominant-baseline: unset;
  text-anchor: unset;
  color-interpolation: unset;
  color-interpolation-filters: unset;
  fill: unset;
  fill-opacity: unset;
  fill-rule: unset;
  shape-rendering: unset;
  stroke: unset;
  stroke-width: unset;
  stroke-linecap: unset;
  stroke-linejoin: unset;
  stroke-miterlimit: unset;
  stroke-opacity: unset;
  stroke-dasharray: unset;
  stroke-dashoffset: unset;
  clip-rule: unset;
  marker: unset;
  paint-order: unset;
  border-collapse: unset;
  empty-cells: unset;
  caption-side: unset;
  border-spacing: unset;
  text-transform: unset;
  hyphens: unset;
  -moz-text-size-adjust: unset;
  text-indent: unset;
  overflow-wrap: unset;
  word-break: unset;
  text-justify: unset;
  text-align-last: unset;
  text-align: unset;
  letter-spacing: unset;
  word-spacing: unset;
  white-space: unset;
  text-shadow: unset;
  text-emphasis: unset;
  text-emphasis-position: unset;
  tab-size: unset;
  line-break: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
  ruby-align: unset;
  ruby-position: unset;
  text-combine-upright: unset;
  text-rendering: unset;
  text-underline-offset: unset;
  text-underline-position: unset;
  text-decoration-skip-ink: unset;
  cursor: unset;
  pointer-events: unset;
  -moz-user-input: unset;
  -moz-user-modify: unset;
  -moz-user-focus: unset;
  caret-color: unset;
  accent-color: unset;
  scrollbar-color: unset;
  list-style: unset;
  quotes: unset;
  -moz-image-region: unset;
  scroll-margin: unset;
  outline: unset;
  outline-offset: unset;
  scroll-padding: unset;
  inset: unset;
  z-index: unset;
  flex-flow: unset;
  place-content: unset;
  justify-items: unset;
  flex: unset;
  place-self: unset;
  order: unset;
  width: unset;
  min-width: unset;
  max-width: unset;
  min-height: unset;
  max-height: unset;
  object-fit: unset;
  object-position: unset;
  grid-area: unset;
  grid: unset;
  gap: unset;
  aspect-ratio: unset;
  vector-effect: unset;
  stop-color: unset;
  stop-opacity: unset;
  flood-color: unset;
  flood-opacity: unset;
  lighting-color: unset;
  mask-type: unset;
  clip-path: unset;
  mask: unset;
  x: unset;
  y: unset;
  cx: unset;
  cy: unset;
  rx: unset;
  ry: unset;
  r: unset;
  table-layout: unset;
  text-overflow: unset;
  text-decoration: unset;
  ime-mode: unset;
  scrollbar-width: unset;
  -moz-window-dragging: unset;
  -moz-force-broken-image-icon: unset;
  -moz-box-align: unset;
  -moz-box-direction: unset;
  -moz-box-flex: unset;
  -moz-box-orient: unset;
  -moz-box-pack: unset;
  -moz-box-ordinal-group: unset;
  align-items: center;
  box-sizing: border-box;
  user-select: none;
  display: inline-flex;
  color: var(--colors-hiContrast);
  font-size: var(--fontSizes-2);
  line-height: 1;
  margin: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 25px;
  @apply rounded;
  will-change: transform;
}

.btn {
  @apply font-bold;
  @apply py-1;
  @apply px-4;
}

.btn-primary {
  @apply bg-indigo-500;
  @apply text-white;
}

.btn-secondary {
  @apply bg-gray-900;
  @apply text-white;
}

.btn-disabled {
  @apply opacity-25;
}

.btn-secondary:hover {
  @apply bg-gray-700;
}

.btn-primary:hover {
  @apply bg-indigo-700;
}
