@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
  --primary-color: #a4c9ff;
  --link-color: #4d496b;
  --focused-color: #8575ff;
  --unfocused-color: #9996a9;
  --bg-content: #fff;
  --bg-content-contrast: #fbfbfb;
  --bg-gray-contrast: #e2e2e2;
  --button-color: #586e8e;
  --border-color: #fefefe;
  --section-left-column-width: 8rem;
  --section-left-column-gap: 1.5rem;
  --icon-color: #4d496b;

  --text-color-light: #fff;
  --text-color-dark: rgba(31, 41, 55, var(--tw-text-opacity));

  --shadow: rgba(0, 0, 0, 0.1) 0px 5px 30px -5px,
    rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

@import "button.css";
@import "icon.css";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply font-body;
  @apply text-gray-800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--focused-color);
}

p.error {
  @apply text-red-400;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-3xl;
  @apply font-semibold;
}

h3 {
  @apply text-2xl;
  @apply font-semibold;
}

h4 {
  @apply text-xl;
  @apply font-semibold;
}

.content {
  @apply rounded;
  @apply bg-white;
  @apply px-6;
  @apply py-4;
}

.title-big {
  @apply text-2xl;
  @apply font-semibold;
}

.title-big-margin {
  @apply mb-6;
}

.form {
  @apply bg-gray-100;
  @apply p-4;
  @apply rounded-sm;
  @apply max-w-lg;
}

.form-row {
  @apply mb-4;
}

.form-label {
  @apply block;
  @apply mb-2;
  @apply font-semibold;
}

.form-input {
  @apply block;
  @apply mb-2;
  @apply w-full;
  @apply px-4;
  @apply py-2;
  @apply rounded-sm;
}

.form-textarea {
  @apply block;
  @apply mb-2;
  @apply w-full;
  @apply px-4;
  @apply py-2;
  @apply rounded-sm;
}

.form-btn {
  @apply mt-2;
}

.font-unfocused {
  color: var(--unfocused-color);
}

.text-error {
  color: red;
}
