.content {
	min-width: 220;
	background-color: white;
	@apply rounded;
	box-shadow: var(--shadow);
}

.item {
	all: "unset";
	font-size: 13;
	line-height: 1;
	@apply flex;
	@apply items-center;
	height: 25;
	@apply rounded;
	@apply py-2;
	@apply px-2;
	position: relative;
	user-select: none;
	outline: none;
}

.itemInteractive {
	cursor: pointer;
}

.itemInteractive:hover {
  @apply bg-gray-100;
}


.label {
	padding-left: 25px;
	font-size: 12;
	line-height: 25px;
}

.trigger {
	display: flex;
	@apply px-2;
	gap: 3px;
	background-color: var(--bg-gray-contrast);
	align-items: center;
	font-size: 14px;
	@apply rounded;
	outline: none;
}
